<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hanul.mybatis.Mapper.xml">
	<select id="studentExam" parameterType="int" resultType="StudentDTO">
		select * from Student where std_code = #{std_code}
	</select>
	<select id="timerExam" resultType="TimerDTO">
		select * from Timer 
	</select>	
	<select id="studentSearchAll" resultType="StudentDTO">
		select * from Student
	</select>
		<select id="answerSearchAll" resultType="AnswerDTO">
		select * from Answer
	</select>
	<update id="studentUpdate_score" parameterType="int" >
		UPDATE Student SET score = #{score} where std_code = #{std_code} 
	</update>
	<select id="studentRank" parameterType="int" resultType="int">
		select count(*) from student where score > #{score} order by score desc
	</select>
</mapper>